.App {
  text-align: center;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto/Roboto-Light.ttf");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-logo-animated {
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Dark {
  background-color: rgb(58, 60, 64);
  color: white;
}

.Home {
  display: flex;
  flex-direction: column;
}

.HeaderFixed {
  display: flex;
  align-self: end;
}

.CardHolder {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: stretch;
}

.Card {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.InfoCard {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: rgba(255, 128, 142, 0.07);
}

.InfoCardContent {
  display: none;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  flex-flow: column;
}

.InfoCardText {
  margin: 5%;
  padding: 5%;
  flex-direction: column;
}

.LightText {
  font-family: "Roboto Light", sans-serif;
}

.Font--large {
  font-size: x-large;
}
.RegularText {
  font-family: "Roboto", sans-serif;
}

.DarkInfo {
}

.Image {
  width: 100%;
  align-self: center;
  flex-grow: 10;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.15);
}

.ContentBlock {
  height: 100vh;
}

.ButtonPanel {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 0;
}

.BtnImg {
  width: 100%;
}

.Inverted {
  filter: invert(1);
}

.Btn {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
}
.Btn:hover {
  background-color: rgba(142, 142, 142, 0.45);
  transition-duration: 200ms;
}

@media (min-width: 600px) {
  .Home {
    display: flex;
  }

  .CardHolder {
    flex-direction: row;
  }

  .Card {
    flex-direction: column;
    padding: 5%;
    width: 20%;
  }

  .InfoCardContent {
    display: flex;
  }

  .ButtonPanel {
    flex-direction: row-reverse;
    justify-content: end;
  }
}
div.ToggleBtn {
  width: 4rem;
  height: 2rem;
  background-color: blue;
}
div.ToggleBtn::before {
  content: "♥";
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: red;
}
/*input[type=checkbox] {*/
/*  -webkit-appearance: none;*/
/*  -moz-appearance: none;*/
/*  appearance: none;*/
/*  -webkit-tap-highlight-color: transparent;*/
/*  cursor: pointer;*/
/*}*/
/*input[type=checkbox]:focus {*/
/*  outline: 0;*/
/*}*/
/*.toggle {*/
/*  height: 32px;*/
/*  width: 52px;*/
/*  border-radius: 16px;*/
/*  display: inline-block;*/
/*  position: relative;*/
/*  margin: 0;*/
/*  border: 2px solid #474755;*/
/*  background: linear-gradient(180deg, #2D2F39 0%, #1F2027 100%);*/
/*  transition: all 0.2s ease;*/
/*}*/
/*.toggle:after {*/
/*  content: "";*/
/*  position: absolute;*/
/*  top: 2px;*/
/*  left: 2px;*/
/*  width: 24px;*/
/*  height: 24px;*/
/*  border-radius: 50%;*/
/*  background: white;*/
/*  box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);*/
/*  transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);*/
/*}*/
/*.toggle:checked {*/
/*  border-color: #654FEC;*/
/*}*/
/*.toggle:checked:after {*/
/*  transform: translatex(20px);*/
/*}*/
/*# sourceMappingURL=App.css.map */
